# Run manually to reformat a file:
# clang-format -i --style=file <file>
Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 100
ReflowComments: false
AllowShortIfStatementsOnASingleLine: Never
SpaceBeforeParens: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
AccessModifierOffset: -4
